*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(83, 186, 179);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.2);
    font-size: 11vmin;
    background-color: bisque;
    color: #3d3d3d;
}
#Resetbtn{
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 1rem;
    border: none;
}

#newgame{
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 1rem;
    border: none;
    border-style: solid;
    border-color: bisque;
}

#messg{
    margin-top:4vmin;
    margin-bottom: 1vmin;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 5vmin;
}
.hide{
    display: none;
}
.head{
    font-size: 3vmax;
    padding: 1rem;
    color: rgb(8, 8, 36);
    font-style:norma
}
